

header{
    background-color: aquamarine;
    border: solid aqua;
    font-family: monospace;
    width: 800px;
    margin: auto;
}
header h1{
    background-color: aquamarine;
    font-family: 'Comic Sans MS';
}

button{
    background-color: aquamarine;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    height: 50px;
    font-size: 20pt;
    border-color: wheat;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#refresh-button{

    margin: auto;

}


#delete-button{

    background-color: red;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    height: 30px;
    font-size: 15pt;
    border-color: wheat;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    right: -90px;
    bottom: -15px;

}


body{
    text-align: center;
}


#library-controls{
    width: 800px;
    margin: auto;
    border: inset;
    margin-top: 30px;
}


/* ADD BOOK FORM ================================= */

#add-book{
    border: inset;
    display: none;
}

#add-book form{
    width: 400px;
    margin: auto;
}

#add-book input{
    margin: 20px;
}

#add-book img{
    border: solid grey;
}

#add-book button{
    background-color: grey;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    height: 25px;
    font-size: 10pt;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

#add-book textarea{
    margin-bottom: 10px;
    resize: none;
}

/* ============================================== */

#library{
    border: inset;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

#library section{
    border: solid black;
    margin: 10px;
}